.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-image-1 {
  width: 383px;
  height: 517px;
  margin: 83px 344px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 458px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(white, #ffcb0b);
}

.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-group-1 {
  width: 781px;
  min-height: 545px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 121px 160px 50px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  height: 145px;
  width: 720px;
  margin: 37px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  width: 100%;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 511px;
    margin-right: 159px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-2 .u-group-1 {
    width: 404px;
    min-height: 431px;
    margin-top: 245px;
    margin-right: 0;
    margin-bottom: 45px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-2 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-2 .u-group-1 {
    width: 356px;
    min-height: 458px;
    margin-top: 338px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-group-1 {
    width: 305px;
    min-height: 474px;
    margin-top: 291px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}