.u-section-1 {
  background-image: url("images/1788015655-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 100px -80px 0;
}

.u-section-1 .u-image-1 {
  width: 288px;
  height: 411px;
  margin: -75px auto 0 166px;
}

.u-section-1 .u-image-2 {
  width: 184px;
  height: 179px;
  margin: -272px 247px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    color: rgb(17, 17, 17) !important;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 156px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 172px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  width: 323px;
  margin: 10px auto 0;
}

.u-section-2 .u-form-1 {
  height: 78px;
  width: 1056px;
  margin: 0 auto;
}

.u-section-2 .u-input-1 {
  background-image: none;
}

.u-section-2 .u-input-2 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  padding-left: 100px;
  padding-right: 100px;
  background-image: linear-gradient(#ff5a2d, #ffc839);
  border-style: none;
}

.u-section-2 .u-icon-1 {
  width: 85px;
  height: 85px;
  margin: -94px auto 37px -42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 240px;
  }

  .u-section-2 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(#bc0d0d, #ffc839);
}

.u-section-3 .u-sheet-1 {
  min-height: 155px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  margin: 20px 85px 20px 133px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: linear-gradient(#ffc839, #bc0d0d);
  min-height: 559px;
}

.u-section-4 .u-image-1 {
  width: 659px;
  height: 545px;
  margin: 14px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 886px;
  height: 443px;
  margin: -559px auto 0 0;
}

.u-section-4 .u-video-1 {
  width: 1140px;
  height: 529px;
  margin: -428px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 466px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -512px;
  }

  .u-section-4 .u-video-1 {
    width: 940px;
    height: 436px;
    margin-top: -495px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 166px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 360px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 334px;
    margin-top: -385px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 540px;
    height: 447px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 270px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 251px;
    margin-top: -295px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 281px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 170px;
    margin-top: -428px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 158px;
    margin-top: -195px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 201px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  width: 829px;
  margin: 21px auto 0;
}

.u-section-5 .u-image-1 {
  width: 146px;
  height: 142px;
  margin: -165px 0 30px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 90px;
    width: 340px;
  }
}.u-section-6 {
  background-image: linear-gradient(#bc0d0d, #f3f653);
  min-height: 834px;
}

.u-section-6 .u-image-1 {
  height: 452px;
  width: 1298px;
  object-position: 0% 50%;
  margin: 82px auto 0;
}

.u-section-6 .u-image-2 {
  width: 442px;
  height: 437px;
  margin: -240px calc(((100% - 1140px) / 2) + 320px) 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  margin: -648px 80px 0;
}

.u-section-6 .u-image-3 {
  width: 249px;
  height: 336px;
  margin: 204px auto 0 calc(((100% - 1140px) / 2) + 71px);
}

.u-section-6 .u-image-4 {
  width: 258px;
  height: 352px;
  margin: -352px calc(((100% - 1140px) / 2) + 21px) 0 auto;
}

.u-section-6 .u-image-5 {
  width: 146px;
  height: 142px;
  margin: -163px auto 21px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 710px;
  }

  .u-section-6 .u-image-1 {
    height: 327px;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-image-2 {
    margin-top: -115px;
    margin-right: calc(((100% - 940px) / 2) + 320px);
    margin-left: calc(((100% - 1140px) / 2) + 349px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 150px);
    margin-right: calc(((100% - 1140px) / 2) + 150px);
  }

  .u-section-6 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 71px);
  }

  .u-section-6 .u-image-4 {
    height: 353px;
    margin-right: calc(((100% - 940px) / 2) + 21px);
  }

  .u-section-6 .u-image-5 {
    margin-top: -164px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 633px;
  }

  .u-section-6 .u-image-1 {
    height: 250px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-image-2 {
    margin-top: -38px;
    margin-right: calc(((100% - 720px) / 2) + 278px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 370px);
    margin-right: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-6 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 71px);
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 21px);
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 571px;
  }

  .u-section-6 .u-image-1 {
    height: 188px;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-image-2 {
    margin-top: 24px;
    margin-right: calc(((100% - 540px) / 2) + 98px);
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 550px);
    margin-right: calc(((100% - 1140px) / 2) + 550px);
  }

  .u-section-6 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 71px);
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 21px);
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 400px;
  }

  .u-section-6 .u-image-1 {
    height: 118px;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 336px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -547px;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-6 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 71px);
  }

  .u-section-6 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 21px);
  }
}